.ex-1-square {
	transition: 2s;
}

.ex-1-square:hover {
	background-color: red;
}
/* --------------------------------------------------------- */
.ex-2-square {
	transition: 2s;
}

.ex-2-square:active {
	width: 100%;
}
/* --------------------------------------------------------- */
.ex-3-square {
	transition: 0.5s;
}

.ex-3-square:hover {
	border-radius: 50%;
}
/* --------------------------------------------------------- */
.ex-4-square {
	transition: 1s;
}

.ex-4-square:hover {
	opacity: 0;
}
/* --------------------------------------------------------- */
.ex-5-square {
	transition: 1s;
}

.ex-5-square:hover {
	transform: scale(200%);
}

.ex-5-square:active {
	transform: scale(50%);
}
/* Domanda per i teacher del pomeriggio: 
Perchè se metto prima :active di :hover non funziona on-click? 
Vedi esempio qua sotto.

.ex-5-square:active {
	transform: scale(50%);
}

.ex-5-square:hover {
	transform: scale(200%);
}

*/
/* --------------------------------------------------------- */
.ex-6-img:hover {
	filter: grayscale();
}
/* --------------------------------------------------------- */
.ex-7-img {
	transition: 1s;
}

.ex-7-img:hover {
	filter: sepia(0.5) grayscale(0.5);
}
/* Domanda per i teacher del pomeriggio: 
Perchè se metto i filter su due linee separate non funziona correttamente? 
Vedi esempio qua sotto.

.ex-7-img {
	transition: 1s;
}

.ex-7-img:hover {
	filter: sepia(0.5);
   filter: grayscale(0.5);
}
*/
/* --------------------------------------------------------- */
.ex-8-img {
	transition: 2s;
}

.ex-8-img:hover {
	border-radius: 20px;
	filter: sepia(0.5) grayscale(0.5);
}
/* --------------------------------------------------------- */
.ex-9-img {
	transition: 2s;
}

.ex-9-img:hover {
	border-radius: 20px;
	filter: sepia(0.5) grayscale(0.5);
	transform: scale(150%);
}
/* --------------------------------------------------------- */
.ex-10-icon {
	animation-name: ex-10-rotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes ex-10-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
/* --------------------------------------------------------- */
.ex-11-icon:hover {
	animation-name: ex-11-rotation;
	animation-duration: 2s;
}

@keyframes ex-11-rotation {
	0% {
		transform: rotate(0deg);
	}
	90% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/*  Domanda per i teacher del pomeriggio:
Nell'assegnazione la didascalia dell'esercizio dice "gira in senso orario fino ad arrivare a 3/4 e poi torna indietro velocemente" ma nell'animazione mostrata va oltre i 3/4...
Va bene come l'ho fatto? */
/* --------------------------------------------------------- */
.ex-12-button:hover .ex-12-top-white {
	animation-name: ex-12-top;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white {
	animation-name: ex-12-bottom;
	animation-duration: 2s;
	animation-timing-function: linear;
}

@keyframes ex-12-top {
	0% {
		left: 10%;
	}
	50% {
		left: calc(100% - 60px);
	}
	100% {
		left: 10%;
	}
}

@keyframes ex-12-bottom {
	0% {
		right: 20%;
	}
	50% {
		right: calc(100% - 60px);
	}
	100% {
		right: 20%;
	}
}
/* --------------------------------------------------------- */
.ex-13-button:hover .ex-13-top-white {
	animation-name: ex-13-top;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white {
	animation-name: ex-13-bottom;
	animation-duration: 2s;
	animation-timing-function: linear;
}

@keyframes ex-13-top {
	0% {
		top: -10px;
		left: 10%;
	}
	20% {
		top: -10px;
		left: calc(100% - 30px);
	}
	40% {
		top: calc(100% - 10px);
		left: calc(100% - 30px);
	}
	60% {
		top: calc(100% - 10px);
		left: calc(0% - 30px);
	}
	80% {
		top: -10px;
		left: calc(0% - 30px);
	}
	100% {
		top: -10px;
		left: 10%;
	}
}

.debug .ex-13-top-white {
	background: red;
}

.debug .ex-13-bottom-white {
	background: green;
}
/* @keyframes ex-13-bottom {
	0% {
		right: 20%;
	}
	50% {
		right: calc(100% - 60px);
	}
	100% {
		right: 20%;
	}
} */
