.ex-1-square {
	transition: 2s;
}

.ex-1-square:hover {
	background-color: red;
}
/* --------------------------------------------------------- */
.ex-2-square {
	transition: 2s;
}

.ex-2-square:active {
	width: 100%;
}
/* --------------------------------------------------------- */
.ex-3-square {
	transition: 0.5s;
}

.ex-3-square:hover {
	border-radius: 50%;
}
/* --------------------------------------------------------- */
.ex-4-square {
	transition: 1s;
}

.ex-4-square:hover {
	opacity: 0;
}
/* --------------------------------------------------------- */
.ex-5-square {
	transition: 1s;
}

.ex-5-square:hover {
	transform: scale(200%);
}

.ex-5-square:active {
	transform: scale(50%);
}
/* --------------------------------------------------------- */
.ex-6-img:hover {
	filter: grayscale();
}
/* --------------------------------------------------------- */
.ex-7-img {
	transition: 1s;
}

.ex-7-img:hover {
	filter: sepia(0.5) grayscale(0.5);
}
/* --------------------------------------------------------- */
.ex-8-img {
	transition: 2s;
}

.ex-8-img:hover {
	border-radius: 20px;
	filter: sepia(0.5) grayscale(0.5);
}
/* --------------------------------------------------------- */
.ex-9-img {
	transition: 2s;
}

.ex-9-img:hover {
	border-radius: 20px;
	filter: sepia(0.5) grayscale(0.5);
	transform: scale(150%);
}
/* --------------------------------------------------------- */
.ex-10-icon {
	animation: ex-10-rotation 1s infinite linear;
}

@keyframes ex-10-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
/* --------------------------------------------------------- */
.ex-11-icon:hover {
	animation: ex-11-rotation 2s;
}

@keyframes ex-11-rotation {
	0% {
		transform: rotate(0deg);
	}
	90% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
/* --------------------------------------------------------- */
.ex-12-button:hover .ex-12-top-white {
	animation: ex-12-top 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
	animation: ex-12-bottom 2s linear;
}

@keyframes ex-12-top {
	0% {
		left: 10%;
	}
	50% {
		left: calc(100% - 60px);
	}
	100% {
		left: 10%;
	}
}

@keyframes ex-12-bottom {
	0% {
		right: 20%;
	}
	50% {
		right: calc(100% - 60px);
	}
	100% {
		right: 20%;
	}
}
/* --------------------------------------------------------- */
.ex-13-button:hover .ex-13-top-white {
	animation: ex-13-top 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
	animation: ex-13-bottom 2s linear;
}

@keyframes ex-13-top {
	0% {
		top: -10px;
		left: 10%;
	}
	20% {
		top: -10px;
		left: calc(100% - 10%);
	}
	40% {
		top: calc(100% - 10px);
		left: calc(100% - 10%);
	}
	60% {
		top: calc(100% - 10px);
		left: calc(0% - 10%);
	}
	80% {
		top: -10px;
		left: calc(0% - 10%);
	}
	100% {
		top: -10px;
		left: 10%;
	}
}

@keyframes ex-13-bottom {
	0% {
		bottom: -10px;
		right: 20%;
	}
	20% {
		bottom: -10px;
		right: calc(100% - 20%);
	}
	40% {
		bottom: calc(100% - 10px);
		right: calc(100% - 20%);
	}
	60% {
		bottom: calc(100% - 10px);
		right: calc(0% - 20%);
	}
	80% {
		bottom: -10px;
		right: calc(0% - 20%);
	}
	100% {
		bottom: -10px;
		right: 20%;
	}
}
