.ex-1-square {
	transition: 2s;
}

.ex-1-square:hover {
	background-color: red;
}
/* --------------------------------------------------------- */
.ex-2-square {
	transition: 2s;
}

.ex-2-square:active {
	width: 100%;
}
/* --------------------------------------------------------- */
.ex-3-square {
	transition: 0.5s;
}

.ex-3-square:hover {
	border-radius: 50%;
}
/* --------------------------------------------------------- */
.ex-4-square {
	transition: 1s;
}

.ex-4-square:hover {
	opacity: 0;
}
/* --------------------------------------------------------- */
.ex-5-square {
	transition: 1s;
}

.ex-5-square:hover {
	transform: scale(200%);
}

.ex-5-square:active {
	transform: scale(50%);
}
/* Domanda per i teacher del pomeriggio: 
Perchè se metto prima :active di :hover non funziona on-click? 
Vedi esempio qua sotto.

.ex-5-square:active {
	transform: scale(50%);
}

.ex-5-square:hover {
	transform: scale(200%);
}

*/
/* --------------------------------------------------------- */
.ex-6-img:hover {
   filter:grayscale()
}
/* --------------------------------------------------------- */